@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "Ubuntu", sans-serif;

  color: blue;
}
.none {
  display: none !important;
}
.none-el {
  display: none;
}
html {
  font-size: 16px;
}
/* .advanced .plan-details .pricing{
  color: red;
} */
:root {
  /* primary colors */
  --marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);
  /* neutral colors */
  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}

.main-container {
  background-color: var(--Magnolia);
  width: 100vw;
  height: 100vh;
  /* margin: 80px 0px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-and-sidebar-container {
  background-color: var(--White);
  width: 98vw;
  max-width: 1000px;
  height: 600px;
  border-radius: 24px;
  display: flex;
  /* gap: 50px; */
  padding: 15px;
}
/* sidebar css */
.sidebar-container {
  box-sizing: border-box;
  width: 30%;
  height: 100%;
  background-image: url(./img/bg-sidebar-desktop.svg);
  background-size: cover;
  border-radius: 18px;
  padding: 30px;
}

.steps-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.single-step-container {
  display: flex;
  gap: 20px;
}
.step-number {
  /* background-color: var(--Light-blue); */
  background-color: transparent;
  border: 1px solid var(--White);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  color: var(--White);
  font-weight: 500;
}
.step-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.step-details p:first-child {
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--Cool-gray);
}
.active-step {
  border: 0;
  background-color: var(--Light-blue);
  color: var(--marine-blue);
}
.step-details p:nth-child(2) {
  font-weight: 300;
  color: var(--White);
  font-weight: 500;
}

/* form container and form styling css */

.form-container-s1,
.form-container {
  width: 70%;
  color: var(--marine-blue);
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  /* align-items: center; */
  align-items: center;
}

.form-cl,
.inner-container-s2 {
  display: flex;
  flex-direction: column;
  width: 80% !important;
  /* width: 100%; */
  height: 100%;
}

.form-title-h2 {
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--marine-blue);
  padding-bottom: 10px;
}
.form-desc {
  color: var(--Cool-gray);
  padding-bottom: 30px;
}
.form-ele {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.form-ele label {
  color: var(--marine-blue);
  display: block;
}

.form-ele input {
  border: 1px solid var(--Light-gray);
  width: 100%;
  padding: 15px;
  font-size: 1.2rem;
  color: var(--marine-blue);
  border-radius: 9px;
  font-weight: 500;
}

.message-field {
  display: flex;
  color: var(--Strawberry-red);
  justify-content: space-between;
  padding: 15px 0px 6px 0px;
}
.message-field > p {
  display: none;
}

.form-ele input::placeholder {
  color: var(--Cool-gray);
  font-weight: 500;
}

.form-ele input:focus {
  outline-color: var(--Purplish-blue);
}

.button-container.s1 {
  width: 100%;
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
}

.btn {
  font-size: 1.2rem;
  background-color: var(--marine-blue);
  padding: 12px 24px;
  color: var(--White);
  border: none;
  border-radius: 9px;
  margin: 10px 0px;
  font-weight: 500;
}
.btn:hover {
  cursor: pointer;
  opacity: 80%;
}

/* step 2 css */

/* .inner-container-s2{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
} */
.plan-option-and-toggle-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 30px;
}
.plan-option-container {
  cursor: pointer;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.single-plan {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--Light-gray);
  width: 31%;
  height: 180px;
  border-radius: 12px;
  padding: 15px;
}
.single-plan:hover {
  border: 2px solid var(--Purplish-blue);
}
.selected-plan {
  border: 2px solid var(--Purplish-blue);
  background-color: var(--Magnolia);
}
.plan-icon {
  width: 40px;
  height: 40px;
}
.plan-details {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.plan-details .title {
  color: var(--marine-blue);
  font-size: 1.1rem;
  font-weight: 700;
}
.plan-details .pricing {
  color: var(--Cool-gray);
  font-size: 1rem;
  /* font-weight: 700; */
}

.plan-details .yearly-2mnth {
  color: var(--Purplish-blue);
}

.toggle-container-s2 {
  background-color: var(--Magnolia);
  padding: 10px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  /* font-weight: 700; */
  color: var(--Cool-gray);
}

.toggle-container {
  width: 60px;
  height: 30px;
  background-color: var(--marine-blue);
  display: flex;
  align-items: center;
  border-radius: 40px;
  justify-content: space-between;
  padding: 4.5px;
  cursor: pointer;
}
.toggle-indicator {
  width: 22px;
  height: 22px;
  background-color: var(--White);
  border-radius: 50%;
  transition: transform 0.3s;
}

.active-toggle {
  color: var(--marine-blue);
}

.button-container.s2,
.button-container.s3,
.button-container.s4 {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
.back-btn {
  cursor: pointer;
  border: none;
  font-size: 1.2rem;
  background-color: white;
  color: var(--Cool-gray);
}
.back-btn:hover {
  color: var(--marine-blue);
}

/* third step css */

.checkbox-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.single-checkbox-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 2px solid var(--Light-gray);
  border-radius: 9px;
  cursor: pointer;
}
.single-checkbox-container.active-checkbox {
  background-color: var(--Magnolia);
  border-color: var(--Purplish-blue);
}
.single-checkbox-container:hover {
  border-color: var(--Purplish-blue);
}

.single-checkbox-container label {
  display: flex;
  align-items: center;
  gap: 20px;
}
.checkbox-input {
  width: 20px;
  height: 20px;
}
.checkbox-input:checked {
  accent-color: var(--Purplish-blue);
}
.checkbox-title {
  display: inline-block !important;
  padding-bottom: 5px;
  font-weight: 700;
}
.checkbox-desc {
  color: var(--Cool-gray);
}
.checkbox-pricing {
  color: var(--Purplish-blue);
}

/* bill  summary css */

.bill-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  background-color: var(--Magnolia);
}

.bill-header,
.bill-single-add-on,
.bill-final-amt {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--Light-gray);
}

.change-btn {
  cursor: pointer;
  font-weight: 500;
  color: var(--Cool-gray);
  padding-top: 5px;
  text-decoration: underline;
}
.change-btn:hover {
  color: var(--Purplish-blue);
}

.bill-single-add-on {
  border: 0px;
  font-weight: 500;
}

.bill-single-add-on > p:first-child {
  color: var(--Cool-gray);
}

.bill-final-amt {
  color: var(--Purplish-blue);
  font-size: 1.1rem;
  padding: 25px;
  border: 0px;
}

.bill-final-amt > p:nth-child(1) {
  color: var(--Cool-gray);
  font-size: 1rem;
  font-weight: 500;
}

.thankyou-page-inner {
  align-items: center;
  justify-content: center;
}
.thankyou-page-inner > img {
  padding-bottom: 30px;
}
.thankyou-page-inner > p:nth-child(3) {
  text-align: center;
}

@media screen and (max-width: 600px) {
  p{
    font-size: 1.2rem !important;
    line-height: 130% !important;
  }
  .main-container {
    align-items: flex-start;
    border-radius: 0px !important;
  }
  .form-and-sidebar-container {
    flex-direction: column;
    width: 100%;
    padding: 0px;
    border-radius: 0px !important;
    background-color: var(--Magnolia);
    align-items: center;
    height: 100%;
  }
  .sidebar-container {
    background-image:url("./img/bg-sidebar-mobile.svg");
    width: 100vw;
    border-radius: 0px !important;
    height: 25vh ;
  }
  .steps-container{
    flex-direction: row;
    align-items: start;
    padding-top: 20px;
    justify-content: center;
    height: 15vh;
  }
  .step-details{
    display: none;
  }
  
  .form-container{
    
    padding: 0px;
    width: 100%;
    margin-top: -25vw;
   width: 90% !important;
   padding: 20px;
   border-radius: 12px;
   background-color: var(--White);
   height:fit-content;
   
  }
  /* .form-cl{} */
  .form-title-h2{
    padding-top: 10px;
  }
  .form-desc{
    padding-bottom: 10px;
  }
  .button-container{
    padding: 20px;
    width: 100vw !important;
    background-color: var(--White);
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .inner-container-s2{
    width: 100% !important;
  }
  .plan-option-container{
    flex-direction: column;
    gap: 20px;
  }
  .single-plan{
    width: 100%;
    height: fit-content;
    flex-direction: row;
    align-items: start;
    justify-content: flex-start;
    gap: 20px;
  }
.plan-icon{
  width: 50px;
  height: 50px;
}
  .toggle-container-s2{
    gap: 15px;
  }
.add-ons-inner-container{
  width: 100% !important;
}
.checkbox-title{
  padding-bottom: 0px;
}
.checkbox-input {
  width: 30px;
  height: 30px;
}
.checkbox-desc{
  font-size: .9rem !important;
}
.inner-billing-container{
  width: 100% !important;
}
.thankyou-page-inner > img {
  padding-bottom: 10px;
}
.thankyou-page-inner{
  width: 100% !important;
}
}
